**.swp
**__pycache__
**.pyc
**.sqlite*


env/
log/
gcoin-rpc/
go-ethereum/build/_workspace/pkg/
go-ethereum/build/bin/
pygcointools/
log/django.log


# Environment setting
contract_server/.env
oracle/.env
